@font-face{
	font-family: ShermanSerif;
	src: url(../resources/sherman/ShermanSerif-Book.otf);
}

@font-face{
	font-family: ShermanSerif;
	src: url(../resources/sherman/ShermanSerif-Bold.otf);
	font-weight: bold;
}

@font-face{
	font-family: ShermanSerif;
	src: url(../resources/sherman/ShermanSerif-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: ShermanSerif;
	src: url(../resources/sherman/ShermanSerif-BookItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: ShermanSerif;
	src: url(../resources/sherman/ShermanSerif-Book.otf);
	font-weight: bold;
}

body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #fff;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
}

.headertext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	color: #d44500;
	text-shadow: #d44500 0px 0px 50px;
}

.headertext h1{
	font-family: 'ShermanSerif', serif;
	font-size: 5em;
	margin: 0;
}

.headertext p{
	font-family: 'ShermanSerif', serif;
	font-style: italic;
}

.spawn{
	position: absolute;
	max-width: 75px;
}
